* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    float: none;
    clear: both;
}

html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', 'cursive';
}

.contenedor {
    max-width: 1366px;
    margin: 0 auto;
    background-image: url(../img/pattern.png);
}

.cabecera {
    width: 100%;
    height: 7rem;
    background-color: #000000;
}

.titulo {
    float: left;
    width: 20rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 15rem;
    color: #FFFFFF;
    background-color: #37BCF9;
}

.titulo > h3 {
    float: right;
    line-height: 5.5rem;
    margin-right: 5rem;
    font-size: 4rem;
}

.icon {
    font-size: 5rem;
    line-height: 5rem;
    margin-left: 2.5rem;
}

.contenedor-menu {
    float: right;
    height: inherit;
    list-style: none;
    line-height: 7rem;
    margin-right: 20rem;
}

ol > .item {
    float: left;
    list-style: none;
    margin-right: 4rem;
}

.item > .enlaces {
    font-size: 2.3rem;
    padding: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
}