* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    float: none;
    clear: both;
}

html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', 'cursive';
}

.contenedor {
    max-width: 1366px;
    margin: 0 auto;
    background-image: url(../img/pattern.png);
}

.cabecera {
    width: 100%;
    height: 7rem;
    background-color: #000000;
}

.titulo {
    float: left;
    width: 20rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 15rem;
    color: #FFFFFF;
    background-color: #37BCF9;
}

.titulo > h3 {
    float: right;
    line-height: 5.5rem;
    margin-right: 5rem;
    font-size: 4rem;
}

.icon {
    font-size: 5rem;
    line-height: 5rem;
    margin-left: 2.5rem;
}

.contenedor-menu {
    float: right;
    height: inherit;
    list-style: none;
    line-height: 7rem;
    margin-right: 20rem;
}

ol > .item {
    float: left;
    list-style: none;
    margin-right: 4rem;
}

.item > .enlaces {
    font-size: 2.3rem;
    padding: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
}

.seccion-tarjetas > .seccion-titulo {
    width: 80%;
    margin: 25px auto;
    padding: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    text-align: center;
}

.seccion-titulo > .titulo-principal {
    padding: 2rem;
    font-size: 5rem;
    color: #FFFFFF;
    background-image: url(../img/bakbaner.png);
}

.contenedor-tarjetas {
    margin-top: 7rem;
    text-align: center;
}

.tarjeta {
    display: inline-block;
    vertical-align: top;
    width: 20rem;
    height: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid;
    background-color: #FFFFFF;
}

.icono-tarjeta {
    font-size: 6rem;
    margin-top: 20%;
    margin-bottom: 10%;
}

.tarjeta-titulo {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #0053A2;
}

.tarjeta-texto {
    color: #446D9D;
    font-size: 1.6rem;
    font-family: 'sans-serif';
}

.articulos {
    width: 60%;
    float: left;
    margin-top: 12.5rem;
    margin-left: 10rem;
}

.articulo-titulo {
    width: 100%;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    border: 1px solid;
    padding: 2rem;
    text-align: center;
    background-color: #FFFFFF;
    background-image: url(../img/pxgray.png);
    box-shadow: 3px 2px 2px black;
}

.tarjeta-articulo {
    margin: 2.5rem 0rem;
    border: 1px solid;
    padding: 1rem;
    position: relative;
    background-color: #FFFFFF;
}

.titulo-articulo {
    color: #0053A2;
    font-family: 'sans-serif';
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.fecha {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'sans-serif';
    padding: 1.5rem;
    background-color: #393D3F;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.articulo-texto {
    font-family: 'sans-serif';
    font-size: 1.5rem;
}

.articulo-texto > a {
    text-decoration: none;
    color: #5DB4FF;
}

.boton-blog {
    display: block;
    text-align: center;
    color: #0053A2;
    margin-top: 6rem;
    padding: 3rem;
    font-size: 3.5rem;
    border: 1px solid black;
    text-decoration: none;
    background-color: #FFFFFF;
}

.barra-lateral {
    width: 30%;
    float: right;
    margin-top: 12.5rem;
}

.barra-titulo {
    width: 300px;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid;
    letter-spacing: 3px;
    background-color: #FFFFFF;
    background-image: url(../img/pxgray.png);
    box-shadow: 3px 2px 2px black;
}

.contenedor-input {
    width: 250px;
    display: block;
    position: relative;
    margin: 1rem auto;
}

.contenedor-input > input[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    display: block;
    padding-left: 5px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.icons-barra {
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 0px;
    line-height: 30px;
    border-left: 1px solid;
}

.form {
    border: 1px solid;
    padding: 1rem;
    width: 29rem;
    margin: 1rem auto;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #9c9c9c;
}

.form-contenedor {
    display: block;
    position: relative;
    margin-bottom: 2rem;
}

.form-contenedor > input {
    width: 250px;
    height: 30px;
    display: block;
    margin: 0 auto;
    padding-left: 3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-contenedor > .form-icon {
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 1.2rem;
    line-height: 3rem;
}

.form-botones {
    text-align: center;
}

.boton {
    width: 100px;
    height: 35px;
    font-size: 15px;
    color: #FFFFFF;
    border: 1px solid #267690;
    border-left: none;
    margin-bottom: 1rem;
    background-color: #34AAD5;
}

.boton:last-child {
    margin-left: 15px;
}

.boton:first-child {
    margin-right: 15px;
}

.enlace {
    display: block;
    font-size: 1.3rem;
    font-family: 'sans-serif';
    text-align: left;
    margin: 0.5rem 0rem;
    padding-left: 2.5rem;
}

.contenedor-redes-sociales {
    width: 180px;
    height: 240px;
    margin: 1rem auto;
    border: 1px solid;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #9c9c9c;
}

.contenedor-redes-sociales > ol {
    width: 100%;
    height: 100%;
    list-style: none;
}

.redes {
    position: relative;
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    margin-left: 1.5rem;
    
}

.redes > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
}

.texto {
    font-family: 'sans-serif';
    font-size: 1.5rem;
    position: absolute;
}

.colaboradores {
    width: 240px;
    height: 240px;
    margin: 1rem auto;
    border: 1px solid;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #9c9c9c;
}