* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    float: none;
    clear: both;
}

html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', 'cursive';
}

.contenedor {
    max-width: 1366px;
    margin: 0 auto;
    background-image: url(../img/pattern.png);
}

.cabecera {
    width: 100%;
    height: 7rem;
    background-color: #000000;
}

.titulo {
    float: left;
    width: 20rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 15rem;
    color: #FFFFFF;
    background-color: #37BCF9;
    overflow: hidden;
}

.titulo > h3 {
    float: right;
    line-height: 5.5rem;
    margin-right: 5rem;
    font-size: 4rem;
}

input[type="checkbox"], .circle {
  display: none;
}

.icon {
    font-size: 5rem;
    line-height: 5rem;
    margin-left: 2.5rem;
}

.contenedor-menu {
    float: right;
    height: inherit;
    list-style: none;
    line-height: 7rem;
    margin-right: 20rem;
}

ol > .item {
    float: left;
    list-style: none;
    margin-right: 4rem;
}

.item > .enlaces {
    font-size: 2.3rem;
    padding: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
}

.seccion-tarjetas > .seccion-titulo {
    width: 80%;
    margin: 25px auto;
    padding: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    text-align: center;
}

.seccion-titulo > .titulo-principal {
    padding: 2rem;
    font-size: 5rem;
    color: #FFFFFF;
    background-image: url(../img/bakbaner.png);
    overflow: hidden;
}

.contenedor-tarjetas {
    margin-top: 7rem;
    text-align: center;
}

.tarjeta {
    display: inline-block;
    vertical-align: top;
    width: 20rem;
    height: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid;
    background-color: #FFFFFF;
    overflow: hidden;
}

.icono-tarjeta {
    font-size: 6rem;
    margin-top: 20%;
    margin-bottom: 10%;
}

.tarjeta-titulo {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #0053A2;
}

.tarjeta-texto {
    color: #446D9D;
    font-size: 1.6rem;
    font-family: 'sans-serif';
}

.articulos {
    width: 60%;
    float: left;
    margin-top: 12.5rem;
    margin-left: 10rem;
}

.articulo-titulo {
    width: 100%;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    border: 1px solid;
    padding: 2rem;
    text-align: center;
    background-color: #FFFFFF;
    background-image: url(../img/pxgray.png);
    box-shadow: 3px 2px 2px black;
}

.tarjeta-articulo {
    margin: 2.5rem 0rem;
    border: 1px solid;
    padding: 1rem;
    position: relative;
    background-color: #FFFFFF;
}

.titulo-articulo {
    color: #0053A2;
    font-family: 'sans-serif';
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.fecha {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'sans-serif';
    padding: 1.5rem;
    background-color: #393D3F;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.articulo-texto {
    font-family: 'sans-serif';
    font-size: 1.5rem;
}

.articulo-texto > a {
    text-decoration: none;
    color: #5DB4FF;
}

.boton-blog {
    display: block;
    text-align: center;
    color: #0053A2;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding: 3rem;
    font-size: 3.5rem;
    border: 1px solid black;
    text-decoration: none;
    background-color: #FFFFFF;
}

.barra-lateral {
    width: 30%;
    float: right;
    margin-top: 12.5rem;
}

.barra-titulo {
    width: 300px;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid;
    letter-spacing: 3px;
    background-color: #FFFFFF;
    background-image: url(../img/pxgray.png);
    box-shadow: 3px 2px 2px black;
}

.contenedor-input {
    width: 250px;
    display: block;
    position: relative;
    margin: 1rem auto;
}

.contenedor-input > input[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    display: block;
    padding-left: 5px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.icons-barra {
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 0px;
    line-height: 30px;
    border-left: 1px solid;
}

.form {
    border: 1px solid;
    padding: 1rem;
    width: 29rem;
    margin: 1rem auto;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #9c9c9c;
}

.form-contenedor {
    display: block;
    position: relative;
    margin-bottom: 2rem;
}

.form-contenedor > input {
    width: 250px;
    height: 30px;
    display: block;
    margin: 0 auto;
    padding-left: 3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-contenedor > .form-icon {
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 1.2rem;
    line-height: 3rem;
}

.form-botones {
    text-align: center;
}

.boton {
    width: 100px;
    height: 35px;
    font-size: 15px;
    color: #FFFFFF;
    border: 1px solid #267690;
    border-left: none;
    margin-bottom: 1rem;
    background-color: #34AAD5;
}

.boton:last-child {
    margin-left: 15px;
}

.boton:first-child {
    margin-right: 15px;
}

.enlace {
    display: block;
    font-size: 1.3rem;
    font-family: 'sans-serif';
    text-align: left;
    margin: 0.5rem 0rem;
    padding-left: 2.5rem;
}

.contenedor-redes-sociales {
    width: 180px;
    height: 240px;
    margin: 1rem auto;
    border: 1px solid;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #9c9c9c;
}

.contenedor-redes-sociales > ol {
    width: 100%;
    height: 100%;
    list-style: none;
}

.redes {
    position: relative;
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    margin-left: 1.5rem;
    overflow: hidden;
}

.redes > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
}

.texto {
    font-family: 'sans-serif';
    font-size: 1.5rem;
    position: absolute;
    left: -85px;
}

.colaboradores {
    width: 240px;
    height: 240px;
    margin: 1rem auto;
    border: 1px solid;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #9c9c9c;
}

.pie {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #000000;
}

.pie-menu {
    width: max-content;
    display: inline-block;
    vertical-align: top;
    margin: 0rem 3.5rem;
}

.lista {
    margin: 1rem 0rem;
    padding-bottom: 1rem;
    position: relative;
    text-align: left;
}

ul .lista a::marker {
    color: #FFFFFF;
}

.lista > a {
    font-family: 'sans-serif';
    font-size: 2rem;
    text-decoration: none;
    color: #30B7F9;
    display: inherit;
    margin-left: 20px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #FFFFFF;
}

.contenedor-pie iframe, figure {
    margin: 1rem 0rem;
}

.contenedor-pie iframe {
    height: 280px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.img {
    width: 5rem;
}

.dato {
    display: inherit;
    color: #FFFFFF;
    font-family: 'sans-serif';
    font-size: 1.5rem;
    margin: 1rem 0rem;
    text-decoration: none;
}

/* Animacion al icono para que gire */
.titulo:hover {
    cursor: pointer;
    background-color: #D0D0CF;
  }
  
  .icon {
    animation-name: rotacion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes rotacion {
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
  /* =================================== */
  
  /* Animacion del icono en el indice Y */
  .titulo:hover .icon {
    animation-name: intercanbio;
    animation-duration: 1s;
    animation-iteration-count: 1;
    color: #000000;
  }
  @keyframes intercanbio {
    0% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      color: #ffffff;
    }
    50% {
      transform: translateY(60px);
      -webkit-transform: translateY(60px);
      -moz-transform: translateY(60px);
      -ms-transform: translateY(60px);
      -o-transform: translateY(60px);
      color: #ffffff;
    }
    100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
    }
  }
  /* =================================== */
  
  /* Animacion para el titulo */
  .titulo:hover h3 {
    animation-name: titulo;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    color: #000000;
  }
  @keyframes titulo {
    0% {
      position: relative;
      left: 110px;
    }
    20% {
      transform: translateX(80px);
      -webkit-transform: translateX(80px);
      -moz-transform: translateX(80px);
      -ms-transform: translateX(80px);
      -o-transform: translateX(80px);
    }
    40% {
      transform: translateX(40px);
      -webkit-transform: translateX(40px);
      -moz-transform: translateX(40px);
      -ms-transform: translateX(40px);
      -o-transform: translateX(40px);
    }
    80% {
      transform: translateX(20px);
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      -o-transform: translateX(20px);
    }
    100% {
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
  }
  /* =================================== */
  
  /* Transicion al menu al hacer hover */
  .enlaces {
    transition: font-size, 0.2s;
    -webkit-transition: font-size, 0.2s;
    -moz-transition: font-size, 0.2s;
    -ms-transition: font-size, 0.2s;
    -o-transition: font-size, 0.2s;
  }
  .enlaces:hover {
    font-size: 2.5rem;
    color: rgb(60, 130, 223);
  }
  /* =================================== */
  
  /* Animacion para la imagen de fondo */
  .titulo-principal {
    animation-name: fondo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    perspective: 100px;
  }
  
  @keyframes fondo {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 0px -200px;
    }
  }
  /* =================================== */
  
  /* Animacion para el titulo principal */
  #titulo {
    display: block;
    position: relative;
    animation-name: entrada;
    animation-duration: 5s;
    animation-timing-function: linear;
  }
  
  @keyframes entrada {
    0% {
      transform: translate3d(-100%, 0, 90px);
      -webkit-transform: translate3d(-100%, 0, 90px);
      -moz-transform: translate3d(-100%, 0, 90px);
      -ms-transform: translate3d(-100%, 0, 90px);
      -o-transform: translate3d(-100%, 0, 90px);
    }
    30% {
      transform: translate3d(100%, 0, 90px);
      -webkit-transform: translate3d(100%, 0, 90px);
      -moz-transform: translate3d(100%, 0, 90px);
      -ms-transform: translate3d(100%, 0, 90px);
      -o-transform: translate3d(100%, 0, 90px);
    }
    90% {
      transform: translate3d(-100%, 0, 90px);
      -webkit-transform: translate3d(-100%, 0, 90px);
      -moz-transform: translate3d(-100%, 0, 90px);
      -ms-transform: translate3d(-100%, 0, 90px);
      -o-transform: translate3d(-100%, 0, 90px);
      color: rgba(233, 222, 226, 0.568);
    }
    100% {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
  }
  /* =================================== */
  
  .tarjeta:hover {
    background-color: #000000;
    cursor: pointer;
  }
  
  /* Animaciones para las tarjetas */
  .tarjeta:hover .icono-tarjeta {
    animation-name: iconos;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    color: #69cbf3;
    margin-top: 10%;
    font-size: 9rem;
    font-weight: bolder;
  }
  
  @keyframes iconos {
    0% {
      position: relative;
      bottom: 100px;
    }
    100% {
      bottom: 0px;
    }
  }
  
  .tarjeta:hover .tarjeta-titulo {
    animation-name: titulo-iconos;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    margin-bottom: 2rem;
    color: #ffffff;
  }
  
  @keyframes titulo-iconos {
    0% {
      position: relative;
      bottom: 150px;
    }
    100% {
      bottom: 0px;
    }
  }
  
  .tarjeta:hover .tarjeta-texto {
    animation-name: tarjeta-texto;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    font-size: 1.7rem;
    color: #ffffff;
  }
  
  @keyframes tarjeta-texto {
    0% {
      position: relative;
      right: 200px;
    }
    100% {
      right: 0px;
    }
  }
  /* =================================== */
  
  /* Transicion a las redes sociales */
  .redes:hover .texto {
    left: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  /* =================================== */
  
  /* Transiciones y animaciones al boton del blog */
  
  .boton-blog:hover {
    border-radius: 50px;
    border: 10px solid;
    background-color: #5c5a52;
    text-shadow: 0px 5px 1px #000000;
    color: #FFFFFF;
    transition: background-color 2s, border-radius 1s;
    -webkit-transition: background-color 2s, border-radius 1s;
    -moz-transition: background-color 2s, border-radius 1s;
    -ms-transition: background-color 2s, border-radius 1s;
    -o-transition: background-color 2s, border-radius 1s;
    animation-name: color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes color {
  
    0% {
      border-color: #FADF71;
    }
    25% {
      border-color: #d3f512
    }
    50% {
      border-color: #97d329;
    }
    75% {
      border-color: #42df12;
    }
    100% {
      border-color: #0CF9A0;
    }
  }
  /* =================================== */
  
  /* Animacion al menu del footer */
  
  .lista > a:hover {
    padding-left: 25px;
    color: #FFFFFF;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  /* =================================== */